{
  "presets": ["@babel/preset-env"],
  "sourceMaps": "inline",
  "retainLines": true,
  "plugins": [
    ["module-resolver", {
      "alias": {
        "@routes": "./routes",
        "@models": "./models",
        "@utils": "./utilities",
        "@services": "./services",
        "@db": "./db",
        "@config": "./config"
      }
    }]
  ]

}
